.home {
  width: 100%;
  position: relative;
}

.home-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}